.flex-container {
    display: flex;
    margin: 0;
    margin-bottom: 15px;

    justify-content: flex-start;
}

.flex-item {
    margin-left: 15px;

    justify-self: flex-start;
    align-self: center;
}


.avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;

    justify-self: flex-start;
    
}